body {
  background: #f5f5f5;
  font-family: "Anonymous Pro";
  color: #A6A6A6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins";
  color: #666666;
}

p {
  font-size: 2rem;
}

#hero {
  margin-top: 125px;
}

#visit {
  margin-left: 0rem;
  margin-top: 3rem;
  display: inline-block;
  border: 2px solid #50FFDF;
  background: none;
  color: #50FFDF;
  font-family: "Anonymous Pro", monospace;
  transition: 0.3s all ease;
}

#visit:hover {
  background: #50FFDF;
  color: #f5f5f5;
}

#logo {
  height: 100px;
  width: 100px;
}

.small {
  max-width: 500px;
}

/* === Footer === */
footer {
	position: absolute;
	margin-top: 200px;
  margin-bottom: 5rem;
}

#footer-content {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#footer-name, #footer-madeby {
	margin-bottom: 0;
	margin-top: 0;
}

#footer-name {
	font-family: "Poppins";
}

#footer-desc {
	font-size: 2.5rem;
}

#footer-logo {
	height: 75px;
	width: 75px;
	border-radius: 10px;
  margin-right: 1rem;
}

#footer-link {
	color: #A6A6A6;
	text-decoration: none;
}
