body {
  background: #f5f5f5;
  font-family: "Anonymous Pro";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins";
}

p {
  font-size: 2rem;
}

#hero {
  margin-top: 125px;
}

#visit {
  margin-left: 0rem;
  border: 3px solid #50FFDF;
  background: none;
  color: #50FFDF;
}

#visit:hover {
  background: #50FFDF;
  color: #f5f5f5;
}

#logo {
  height: 100px;
  width: 100px;
}

.small {
  max-width: 500px;
}
